@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-neutral-950 text-neutral-100 antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .container-narrow {
    @apply mx-auto max-w-6xl px-6;
  }

  .container-wide {
    @apply mx-auto max-w-7xl px-6;
  }
}

